<p>Post a new job listing:</p>
<form action="/items" method="post">
  <label for="Title">Job Title</label>
  <input id="Title" name="Title" type="text">
  <label for="Description">Job Description</label>
  <input id="Description" name="Description" type="text">
  <label for="Name">Contact Name</label>
  <input id="Name" name="Name" type="text">
  <label for="Email">Contact Email</label>
  <input id="Email" name="Email" type="text">
  <label for="PhoneNumber">Contact Phone Number</label>
  <input id="PhoneNumber" name="PhoneNumber" type="text">
  <button type="submit">Submit</button>
</form>